@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* brand biar gak kegedean */
.navbar-brand {
  font-size: 1.25rem;
}

/* dropdown biar enak di mobile */
@media (max-width: 991px) {
  .dropdown-menu {
    text-align: center;
  }
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 8px;
}

.ad-box {
  max-width: 100%;
  overflow: hidden;
}

.ad-box iframe,
.ad-box img,
.ad-box ins {
  max-width: 100% !important;
  display: block;
  margin: auto;
}

.adsbygoogle {
  display: block;
  max-width: 100% !important;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


.share .btn {
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.2s ease;
}

.share .btn:hover {
  transform: translateY(-2px);
}

.readmore-list {
  background: #fafafa;
}

.readmore-link {
  transition: 0.2s;
}

.readmore-link:hover {
  color: #dc3545; /* merah bootstrap */
  padding-left: 5px;
}